In [1]:
import pandas as pd

In [23]:
nba = pd.read_csv("top100.csv",index_col=0)

In [24]:
nba

                       name                   team position
rank
1              LeBron James     Los Angeles Lakers       SF
2             Kawhi Leonard   Los Angeles Clippers       SF
3     Giannis Antetokounmpo        Milwaukee Bucks       PF
4             Stephen Curry  Golden State Warriors       PG
5             Anthony Davis     Los Angeles Lakers       PF
...                     ...                    ...      ...
96          Otto Porter Jr.          Chicago Bulls       SF
97              Danny Green     Philadelphia 76ers       SG
98             Derrick Rose        Detroit Pistons       PG
99              George Hill  Oklahoma City Thunder       PG
100         Dejounte Murray      San Antonio Spurs       PG

[100 rows x 3 columns]

In [25]:
nba.team.value_counts().head(11)

Miami Heat              5
Boston Celtics          5
Brooklyn Nets           5
Los Angeles Clippers    4
San Antonio Spurs       4
Atlanta Hawks           4
Los Angeles Lakers      4
Philadelphia 76ers      4
Indiana Pacers          4
Utah Jazz               4
Toronto Raptors         4
Name: team, dtype: int64

In [12]:
nba.team.value_counts().tail()

Orlando Magic             1
Los Angeles Lakers        1
Minnesota Timberwolves    1
Denver Nuggets            1
Philadelphia 76ers        1
Name: team, dtype: int64

In [28]:
nba.team.unique()

array(['Los Angeles Lakers', 'Los Angeles Clippers', 'Milwaukee Bucks',
       'Golden State Warriors', 'Dallas Mavericks', 'Brooklyn Nets',
       'Houston Rockets', 'Portland Trail Blazers', 'Denver Nuggets ',
       'Boston Celtics', 'Philadelphia 76ers ', 'Miami Heat',
       'Washington Wizards', 'Phoenix Suns', 'Minnesota Timberwolves ',
       'Philadelphia 76ers', 'Utah Jazz', 'Denver Nuggets',
       'New Orleans Pelicans', 'Atlanta Hawks', 'Toronto Raptors',
       'Utah Jazz ', 'Sacramento Kings', 'Memphis Grizzlies',
       'Indiana Pacers', 'Oklahoma City Thunder', 'Chicago Bulls',
       'Orlando Magic ', 'Portland Trail Blazers ', 'San Antonio Spurs',
       'Phoenix Suns ', 'Minnesota Timberwolves', 'Indiana Pacers ',
       'Orlando Magic', 'Milwaukee Bucks ', 'Detroit Pistons',
       'Los Angeles Clippers ', 'Cleveland Cavaliers',
       'Los Angeles Lakers ', 'Charlotte Hornets'], dtype=object)

In [27]:
nba.team.nunique()

40